USE [master]
GO
/*database*/
CREATE DATABASE [WinQLSanPham]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WinQLSanPham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WinQLSanPham]
GO
/* Nhap kho*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapKho](
	[MaChiTietNhapKho] [int] IDENTITY(1,1) NOT NULL,
	[MaNhapKho] [int] NULL,
	[MaSanPham] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietNhapKho] PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/*Xuat kho*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietXuatKho](
	[MaChiTietXuatKho] [int] IDENTITY(1,1) NOT NULL,
	[MaXuatKho] [int] NULL,
	[MaSanPham] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietXuatKho] PRIMARY KEY CLUSTERED 
(
	[MaChiTietXuatKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/*Nhan vien*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](250) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Quyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/*Nhap Kho*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaNhapKho] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[NgayThang] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NhaCungCap] [nvarchar](250) NULL,
	[TienDaThanhToan] [decimal](18, 0) NULL,
 CONSTRAINT [PK_NhapKho] PRIMARY KEY CLUSTERED 
(
	[MaNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/*San Pham*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](250) NULL,
	[PhanLoai] [nvarchar](50) NULL,
	[HinhAnh] [image] NULL,
	[GhiChu] [nvarchar](2000) NULL,
	[HangSanXuat] [nvarchar](250) NULL,
	[DonGia] [decimal](18, 0) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO



/* Xuat Kho*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatKho](
	[MaXuatKho] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[NgayThang] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TienDaThanhToan] [decimal](18, 0) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_XuatKho] PRIMARY KEY CLUSTERED 
(
	[MaXuatKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChiTietNhapKho] ON 

INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhapKho], [MaNhapKho], [MaSanPham], [DonGia], [SoLuong]) VALUES (5, 2, 2, CAST(23000AS Decimal(18, 0)), 650)
INSERT [dbo].[ChiTietNhapKho] ([MaChiTietNhapKho], [MaNhapKho], [MaSanPham], [DonGia], [SoLuong]) VALUES (6, 1, 1, CAST(10000 AS Decimal(18, 0)), 900)
SET IDENTITY_INSERT [dbo].[ChiTietNhapKho] OFF
SET IDENTITY_INSERT [dbo].[ChiTietXuatKho] ON 

INSERT [dbo].[ChiTietXuatKho] ([MaChiTietXuatKho], [MaXuatKho], [MaSanPham], [DonGia], [SoLuong]) VALUES (2, 2, 2, CAST(75000 AS Decimal(18, 0)), 1)
INSERT [dbo].[ChiTietXuatKho] ([MaChiTietXuatKho], [MaXuatKho], [MaSanPham], [DonGia], [SoLuong]) VALUES (4, 1, 1, CAST(1000 AS Decimal(18, 0)), 1000)
SET IDENTITY_INSERT [dbo].[ChiTietXuatKho] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [TaiKhoan], [MatKhau], [Quyen]) VALUES (1, N'Thủ kho', N'admin', N'123', N'Thủ kho')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [TaiKhoan], [MatKhau], [Quyen]) VALUES (2, N'Kim Giang', N'bui', N'123', N'Nhân viên')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [TaiKhoan], [MatKhau], [Quyen]) VALUES (3, N'Phi Hùng', N'hoang', N'123', N'Nhân viên')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[NhapKho] ON 

INSERT [dbo].[NhapKho] ([MaNhapKho], [MaNhanVien], [NgayThang], [GhiChu], [NhaCungCap], [TienDaThanhToan]) VALUES (1, 1, CAST(0x0000AD1300000000 AS DateTime), N'', N'Hùng Anh', NULL)
INSERT [dbo].[NhapKho] ([MaNhapKho], [MaNhanVien], [NgayThang], [GhiChu], [NhaCungCap], [TienDaThanhToan]) VALUES (2, 1, CAST(0x0000AD1300000000 AS DateTime), N'', N'Hoa sen', NULL)
SET IDENTITY_INSERT [dbo].[NhapKho] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[XuatKho] ON 

INSERT [dbo].[XuatKho] ([MaXuatKho], [MaNhanVien], [NgayThang], [GhiChu], [TienDaThanhToan], [TrangThai]) VALUES (3, 1, CAST(0x0000AD1300000000 AS DateTime), N'Cần gấp', CAST(1000000 AS Decimal(18, 0)), 1)
INSERT [dbo].[XuatKho] ([MaXuatKho], [MaNhanVien], [NgayThang], [GhiChu], [TienDaThanhToan], [TrangThai]) VALUES (2, 3, CAST(0x0000AD1300000000 AS DateTime), N'xuất kho', CAST(70000 AS Decimal(18, 0)), 1)
INSERT [dbo].[XuatKho] ([MaXuatKho], [MaNhanVien], [NgayThang], [GhiChu], [TienDaThanhToan], [TrangThai]) VALUES (1, 2, CAST(0x0000AD1300000000 AS DateTime), N'Yêu cầu cấp', CAST(0 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[XuatKho] OFF
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapKho_NhapKho] FOREIGN KEY([MaNhapKho])
REFERENCES [dbo].[NhapKho] ([MaNhapKho])
GO
ALTER TABLE [dbo].[ChiTietNhapKho] CHECK CONSTRAINT [FK_ChiTietNhapKho_NhapKho]
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapKho_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietNhapKho] CHECK CONSTRAINT [FK_ChiTietNhapKho_SanPham]
GO
ALTER TABLE [dbo].[ChiTietXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietXuatKho_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietXuatKho] CHECK CONSTRAINT [FK_ChiTietXuatKho_SanPham]
GO
ALTER TABLE [dbo].[ChiTietXuatKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietXuatKho_XuatKho] FOREIGN KEY([MaXuatKho])
REFERENCES [dbo].[XuatKho] ([MaXuatKho])
GO
ALTER TABLE [dbo].[ChiTietXuatKho] CHECK CONSTRAINT [FK_ChiTietXuatKho_XuatKho]
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_NhapKho_NhanVien]
GO
ALTER TABLE [dbo].[XuatKho]  WITH CHECK ADD  CONSTRAINT [FK_XuatKho_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[XuatKho] CHECK CONSTRAINT [FK_XuatKho_NhanVien]
GO
USE [master]
GO
